<h1>Whack a mole!</h1>

<h2>Your score:</h2>
<h2 data-function="score">0</h2>

<h2>Seconds left:</h2>
<h2 data-function="time-left">30</h2>

<div class="b-grid">
    <div data-function="square" class="b-square"></div>
    <div data-function="square" class="b-square"></div>
    <div data-function="square" class="b-square"></div>
    <div data-function="square" class="b-square"></div>
    <div data-function="square" class="b-square"></div>
    <div data-function="square" class="b-square"></div>
    <div data-function="square" class="b-square"></div>
    <div data-function="square" class="b-square"></div>
    <div data-function="square" class="b-square"></div>
</div>